Dailt-tution
Dailt-tution/
email
email/

# Node.js
node_modules/

# Logs
logs
*.log
npm-debug.log*

# Dependency directories
pids
*.pid
*.seed
*.pid.lock

# Output of 'npm pack'
*.tgz

# dotenv environment variables file
.env

# VS Code settings
.vscode/

# Mac OS
.DS_Store

# Windows
Thumbs.db
Desktop.ini
